<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
    <!-- 配置SpringMVC -->
    <!-- 1.开启SpringMVC注解模式 -->
    <!-- 简化配置： (1)自动注册DefaultAnootationHandlerMapping,AnotationMethodHandlerAdapter
        (2)提供一些列：数据绑定，数字和日期的format @NumberFormat, @DateTimeFormat, xml,json默认读写支持 -->
    <mvc:annotation-driven/>

    <!-- 2.静态资源默认servlet配置 (1)加入对静态资源的处理：js,gif,png (2)允许使用"/"做整体映射 -->
    <mvc:resources mapping="/resources/**" location="/resources/"/>
    <mvc:default-servlet-handler/>

    <!-- 3.定义视图解析器 -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/html/"></property>
        <property name="suffix" value=".html"></property>
    </bean>
    <!--文件上传解析器，如果上传文件流的话，必须配置，否则会导致session中的key丢失-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"></property>
        <!--字节为单位的，设置20M = 20*1024*1024-->
        <property name="maxUploadSize" value="20971520"></property>
        <!--最大缓存-->
        <property name="maxInMemorySize" value="20971520"></property>
    </bean>

    <!-- 4.扫描web相关的bean -->
    <context:component-scan base-package="com.imooc.o2o.web"/>

    <!-- 5.权限拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/shopadmin/**"/>
            <mvc:exclude-mapping path="/shopadmin/ownerlogin"/>
            <mvc:exclude-mapping path="/shopadmin/ownerlogincheck"/>
            <mvc:exclude-mapping path="/shopadmin/logout"/>
            <mvc:exclude-mapping path="/shopadmin/register"/>
            <bean id="shopInterceptor" class="com.imooc.o2o.interceptor.shop.ShopLoginInterceptor"/>
        </mvc:interceptor>
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/shopadmin/**"/>-->
            <!--<mvc:exclude-mapping path="/shopadmin/ownerlogin"/>-->
            <!--<mvc:exclude-mapping path="/shopadmin/ownerlogincheck"/>-->
            <!--<mvc:exclude-mapping path="/shopadmin/register"/>-->
            <!--&lt;!&ndash; shoplist page &ndash;&gt;-->
            <!--<mvc:exclude-mapping path="/shopadmin/shoplist"/>-->
            <!--<mvc:exclude-mapping path="/shopadmin/logout"/>-->
            <!--<mvc:exclude-mapping path="/shopadmin/list"/>-->
            <!--&lt;!&ndash; changepsw page &ndash;&gt;-->
            <!--<mvc:exclude-mapping path="/shopadmin/changepsw"/>-->
            <!--<mvc:exclude-mapping path="/shopadmin/changelocalpwd"/>-->
            <!--&lt;!&ndash; ownerbind page &ndash;&gt;-->
            <!--<mvc:exclude-mapping path="/shopadmin/ownerbind"/>-->
            <!--<mvc:exclude-mapping path="/shopadmin/bindlocalauth"/>-->
            <!--&lt;!&ndash; shopmanage page &ndash;&gt;-->
            <!--<mvc:exclude-mapping path="/shopadmin/shopmanage"/>-->
            <!--&lt;!&ndash; shopedit page &ndash;&gt;-->
            <!--<mvc:exclude-mapping path="/shopadmin/shopedit"/>-->
            <!--<mvc:exclude-mapping path="/shopadmin/getshopbyid"/>-->
            <!--<mvc:exclude-mapping path="/shopadmin/getshopinitinfo"/>-->
            <!--<mvc:exclude-mapping path="/shopadmin/registershop"/>-->
            <!--<bean id="shopPermissionInterceptor"-->
                  <!--class="com.imooc.o2o.interceptor.shop.ShopPermissionInterceptor"/>-->
        <!--</mvc:interceptor>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/superadmin/**"/>-->
            <!--<mvc:exclude-mapping path="/superadmin/login"/>-->
            <!--<mvc:exclude-mapping path="/superadmin/logincheck"/>-->
            <!--<mvc:exclude-mapping path="/superadmin/main"/>-->
            <!--<mvc:exclude-mapping path="/superadmin/top"/>-->
            <!--<bean id="SuperAdminInterceptor"-->
                  <!--class="com.imooc.o2o.interceptor.superadmin.SuperAdminLoginInterceptor"/>-->
        <!--</mvc:interceptor>-->

    </mvc:interceptors>
</beans>